APP_NAME="My-App"
APP_ENV=development
APP_DOMAIN=localhost
PORT=8080
DATABASE_URL=postgres://user:password@host:port/dbname?sslmode=disable
ADMIN_SECRET_HASH=
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRES_MINUTES=
JWT_REFRESH_EXPIRES_DAYS=
ENCRYPT_SECRET_KEY=
ARGON_PARAMS="m=65536,t=3,p=4,sl=16,kl=32"