APP_NAME="My-App"
APP_ENV=development
APP_DOMAIN=""
PORT=8080

DATABASE_URL=postgres://user:password@host:port/dbname?sslmode=disable

ADMIN_SECRET_HASH=

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRES_MINUTES=
JWT_REFRESH_EXPIRES_DAYS=

ENCRYPT_SECRET_KEY=
ARGON_PARAMS="m=65536,t=3,p=4,sl=16,kl=32"

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:8080/api/auth/google/callback

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=http://localhost:8080/api/auth/github/callback

EMAIL_SMTP_HOST=localhost
EMAIL_SMTP_PORT=1025
EMAIL_SMTP_USER=""
EMAIL_SMTP_PASS=""
EMAIL_FROM=noreply@myapp.com

FRONTEND_URL=http://localhost:5173
TRUSTED_PROXIES=